%Flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin Flexdirection($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}