%Flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin Flexdirection($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin Flexwrap($wrap) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: $wrap;
}

